body {
  background-color: #eee;
  color: #454545;
  font: 16px/26px 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.page {
  background-color: #eee;
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
  width: 80%;
}

header {
  font-family: 'Montserrat', serif;
  font-size: 21px;
  padding: 0.75em 0;
  text-align: center;
  text-shadow: 1px 1px #ccc;
}

.map-container {
  margin: 0 auto;
  position:relative;
  width:800px;
}

#stateResults {
  color: #454545;
  font: 12px/16px 'Open Sans', Helvetica, Arial, sans-serif;
  width: 25%;
}
#countryResults {
  color: #454545;
  font: 16px/28px 'Open Sans', Helvetica, Arial, sans-serif;
  width: 95%;
}
#stateResults,
#countryResults {
  background-color: #f2f2f2;
  border-collapse: collapse;
  box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
}

th,
td {
  padding: 8px;
  text-align: left;
}
#stateResults th {
  background-color: #3b3b3b;
  color: white;
}
#countryResults th {
  background-color: #f16059;
  color: white;
}
.name-1 {
  background-color: rgb(132,17,11);
  color: white;
}
.name-2 {
  background-color: rgb(245, 141, 136);
  color: white;
}
.winner {
  background-color: #f16059;
  color: white;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
footer span {
  color: #f16059;
  padding: 0 5px;
}
